$turquoise: #2BD0D0;
$black: #34313D;
$white: #ffffff;
$blue-40: #D9E5F6;
$grey-100: #9E9AA8;
$grey-80: #BFBFBF;
$grey-60: #EFF1F7;
$violet-100: #3A3054;
$violet-80: #4B3F6B;
$green-80: #179E7C;
$green-60: #32C78D;
$red-100: #F46363;